* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f1f5f9;
  color: #333;
}
.container {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
.siderbar {
    grid-column: 1/3;
    background-color: #1e90ff;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}
.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.nav li:hover {
  opacity: 0.8;
}
.nav  ul li a {
    text-decoration: none;
}